
.진행중{
  padding-bottom:30px;
  background-color: aliceblue;
  width:300px;
  height:150px;
  margin:10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  display: inline-block;
}

.진행중>button{
  font-weight: 600;
  padding:5px;
}

.삭제버튼{
  margin-right: 5px;
}
.완료버튼{
  margin-left: 5px;
}